.icon{
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon--red{
	fill: red;
}

.icon--flipped{
  transform: rotate(180deg);
}

.icon--lg{
  width: 21px;
  height: 21px;
}

.u-margin-left{
  margin-left: 5px;
}

